div{
    border: 10px dashed red;
    width:80%;
    height: 40%;
    margin: 0% 10% 60% 10%;
    position: absolute;
    box-shadow: 0px 12px 10px rgba(0, 255, 170, 0.952);
    padding: 100px 150px 120px 150px;
}
body{
    background-color: pink;
}
#ff{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
p{
    font-size: 20px;
    text-shadow: 5px 5px 5px;
}
a:visited{
    color: blue;
}